<div>
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contato</h3>
					<p>Entre em contato conosco e tire suas dúvidas.</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Rua Konrad Adenauer, 442 <span>Tarumã, Curitiba - PR.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:contato@vitrinedecristal.com.br">contato@vitrinedecristal.com.br</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+55 41 3361 4200</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Informação</h3>
					<ul class="info">
						<li><a href="#/about" ng-click="switchView(viewsEnum.ABOUT)">Sobre nós</a></li>
						<li><a href="#/guideline" ng-click="switchView(viewsEnum.GUIDELINE)">Diretrizes</a></li>
						<li><a href="#/contact" ng-click="switchView(viewsEnum.CONTACT)">Contato</a></li>
						<li><a href="#/faq" ng-click="switchView(viewsEnum.FAQ)">Perguntas Frequentes</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Categoria</h3>
					<ul class="info">
						<li data-ng-repeat="category in categories"><a href="#/">{{category.nome}}</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<div ng-if="currentUser">
						<h3>Perfil</h3>
						<ul class="info">
							<li><a href="#/order_list" ng-click="switchView(viewsEnum.ORDER_LIST)">Meus Pedidos</a></li>
							<!-- <li><a href="#/wish_list" ng-click="switchView(viewsEnum.WISH_LIST)">Favoritos</a></li> -->
							<li><a href="#/ads" ng-click="switchView(viewsEnum.ADS)">Meus Anúncios</a></li>
							<li><a href="#/negotiations" ng-click="switchView(viewsEnum.NEGOTIATIONS)">Minhas Negociações</a></li>
						</ul>
					</div>
					<h4>Siga-nos</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll" ng-click="anchorScroll()"><img src="assets/images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2017 UP - Vitrine de Cristal</p>
			</div>
		</div>
	</div>
</div>