*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
showcase-web/build/
showcase-core/build/
.gradle/
showcase-core/.classpath
showcase-core/.project
showcase-core/.settings/
showcase-web/.classpath
showcase-web/.project
showcase-web/.settings/
showcase-web/src/main/webapp/assets/upload/
