<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:p="http://www.springframework.org/schema/p" xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
				http://www.springframework.org/schema/tx
				http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
				http://www.springframework.org/schema/jee
				http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
				http://www.springframework.org/schema/util
				http://www.springframework.org/schema/util/spring-util-2.0.xsd
				http://www.springframework.org/schema/context
				http://www.springframework.org/schema/context/spring-context-3.0.xsd
				http://www.springframework.org/schema/security
				http://www.springframework.org/schema/security/spring-security-4.0.xsd
				http://www.springframework.org/schema/task
       			http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- Security configuration -->
	<security:global-method-security secured-annotations="enabled" />
	<bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder ref="bCryptPasswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- Bean scan configuration -->
	<context:annotation-config />
	<context:component-scan base-package="br.com.vitrinedecristal." />
	
	<jee:jndi-lookup id="showcaseDS" jndi-name="java:jboss/datasources/showcase" />

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="showcaseDS" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="false" />
				<property name="database" value="MYSQL" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
			</bean>
		</property>
	</bean>

	<bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="showcaseDS" />
	</bean>

	<bean id="jdbcShowcase" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="showcaseDS" />
	</bean>

	<bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="jpaTransactionManager" />
	<task:annotation-driven />
	
	<bean id="applicationBeanFactory" class="br.com.vitrinedecristal.application.ApplicationBeanFactory" />
	
	<!-- DAO -->
	<bean id="addressDAO" class="br.com.vitrinedecristal.dao.bean.AddressDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="categoryDAO" class="br.com.vitrinedecristal.dao.bean.CategoryDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="imageDAO" class="br.com.vitrinedecristal.dao.bean.ImageDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="productDAO" class="br.com.vitrinedecristal.dao.bean.ProductDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="tokenDAO" class="br.com.vitrinedecristal.dao.bean.TokenDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="userDAO" class="br.com.vitrinedecristal.dao.bean.UserDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<bean id="userLoginDAO" class="br.com.vitrinedecristal.dao.bean.UserLoginDAO">
		<constructor-arg>
			<ref bean="entityManager" />
		</constructor-arg>
	</bean>
	<!--/ DAO -->
	
	<!-- Service -->
	<bean id="addressService" class="br.com.vitrinedecristal.service.bean.AddressService">
		<constructor-arg>
			<ref bean="addressDAO" />
		</constructor-arg>
	</bean>
	<bean id="categoryService" class="br.com.vitrinedecristal.service.bean.CategoryService">
		<constructor-arg>
			<ref bean="categoryDAO" />
		</constructor-arg>
	</bean>
	<bean id="imageService" class="br.com.vitrinedecristal.service.bean.ImageService">
		<constructor-arg>
			<ref bean="imageDAO" />
		</constructor-arg>
	</bean>
	<bean id="productService" class="br.com.vitrinedecristal.service.bean.ProductService">
		<constructor-arg>
			<ref bean="productDAO" />
		</constructor-arg>
	</bean>
	<bean id="tokenService" class="br.com.vitrinedecristal.service.bean.TokenService">
		<constructor-arg>
			<ref bean="tokenDAO" />
		</constructor-arg>
	</bean>
	<bean id="userService" class="br.com.vitrinedecristal.service.bean.UserService">
		<constructor-arg>
			<ref bean="userDAO" />
		</constructor-arg>
	</bean>
	<bean id="userLoginService" class="br.com.vitrinedecristal.service.bean.UserLoginService">
		<constructor-arg>
			<ref bean="userLoginDAO" />
		</constructor-arg>
	</bean>
	<!--/ Service -->

</beans>
