<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd-MM-yyyy HH:mm:ss,SSS} %c - %m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="c:/tmp/showcase/log/showcase.log" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="encoding" value="UTF-8" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - [%t] - [%p] - [%c{1}] - %m%n" />
		</layout>
	</appender>

	<!-- Ignore infos and debugs -->
	<logger name="com.wordnik.swagger">
		<level value="error" />
	</logger>
	<logger name="org.elasticsearch">
		<level value="error" />
	</logger>
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="stdout" />
		<appender-ref ref="fileAppender" />
	</root>
</log4j:configuration>