<div data-ng-controller="showcaseHeaderController">
	<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 500px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Não deixe pra depois, acesse já!
					</h4>
				</div>
				<div class="modal-body" style="padding: 1em 3em 2em;">
					<div class="row">
						<div>
							<div class="sap_tabs">	
								<div id="horizontalTabLogin" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li id="tabLogin" class="resp-tab-item" aria-controls="tab_item-0" ng-click="resetLoginForm()"><span>Login</span></li>
										<li id="tabCadastre" class="resp-tab-item" aria-controls="tab_item-1" ng-click="resetRegisterForm()"><span>Cadastre-se</span></li>
									</ul>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form id="loginForm" name="loginForm" novalidate role="form" ng-submit="loginForm.$valid && auth()">
													<div class="form-group">
														<input placeholder="Email" name="email" type="text" required ng-model="user.email" ng-class="{'has-error': loginForm.$submitted && loginForm.email.$error.required}">
														<span class="invalid" ng-if="loginForm.$submitted && loginForm.email.$invalid">E-mail inválido.</span>
													</div>
													<div class="form-group">
														<input placeholder="Senha" name="password" type="password" required ng-model="user.senha" ng-class="{'has-error': loginForm.$submitted && loginForm.password.$error.required}">
														<span class="invalid" ng-if="loginForm.$submitted && loginForm.password.$invalid">Senha inválida.</span>
													</div>
													<div id="alert-group" class="form-group" ng-if="message.type && loginForm.$submitted && loginForm.$valid && !showLoading">
														<div class="alert alert-{{message.type}}" role="alert">
															<strong ng-if="message.title">{{message.title}} </strong>{{message.body}}
														</div>
													</div>
													<div class="sign-up form-group">
														<input type="submit" value="Acessar" />
														<!-- <a>Esqueci Senha</a> -->
														<!-- Loading -->
														<div class="spinnerr" data-spinner data-ng-if="showLoading" />
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form id="registerForm" name="registerForm" novalidate role="form" ng-submit="registerForm.$valid && create()">
													<fieldset>
														<div class="form-group">
															<input placeholder="Nome" name="nome" type="text" required ng-model="user.nome" ng-class="{'has-error': registerForm.$submitted && registerForm.nome.$error.required}">
															<span class="invalid" ng-if="registerForm.$submitted && registerForm.nome.$invalid">Nome inválido.</span>
														</div>
														<div class="form-group">
															<input placeholder="Email" name="email" type="email" required empty-validator ng-model="user.email" ng-class="{'has-error': registerForm.$submitted && (registerForm.email.$invalid || registerForm.email.$error.pattern)}" ng-pattern="/^\S+@\S+\.\S+$/i">
															<span class="invalid" ng-if="registerForm.$submitted && registerForm.email.$invalid">E-mail inválido.</span>
														</div>
														<div class="form-group">
															<input placeholder="Confirmar Email" name="emailConfirm" type="email" required compare-to="user.email" ng-model="user.emailConfirm" ng-class="{'has-error': registerForm.$submitted && registerForm.emailConfirm.$invalid}">
															<span class="invalid" ng-if="registerForm.$submitted && registerForm.emailConfirm.$invalid">E-mails não conferem.</span>
														</div>
														<div class="form-group">
															<input placeholder="Senha" name="password" type="password" required ng-model="user.senha" ng-class="{'has-error': registerForm.$submitted && registerForm.password.$error.required}">
															<span class="invalid" ng-if="registerForm.$submitted && registerForm.password.$invalid">Senha inválida.</span>
														</div>
														<div class="form-group">
															<input placeholder="Confirmar Senha" name="passwordConfirm" type="password" required compare-to="user.senha" ng-model="user.senhaConfirm" ng-class="{'has-error': registerForm.$submitted && registerForm.passwordConfirm.$invalid}">
															<span class="invalid" ng-if="registerForm.$submitted && registerForm.passwordConfirm.$invalid">Senhas não conferem.</span>
														</div>
														<div id="alert-group" class="form-group" ng-if="message.type && registerForm.$submitted && registerForm.$valid && !showLoading">
															<div class="alert alert-{{message.type}}" role="alert">
																<strong ng-if="message.title">{{message.title}} </strong>{{message.body}}
															</div>
														</div>
														<div class="sign-up form-group">
															<input type="submit" value="Criar conta" />
															<!-- Loading -->
															<div class="spinnerr" data-spinner data-ng-if="showLoading" />
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script src="assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script	src="components/validator/compare-to-validator.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTabLogin').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-personal" tabindex="-1" role="dialog" aria-labelledby="modal-personal" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 600px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Dados pessoais.
					</h4>
				</div>
				<div class="modal-body" style="padding: 1em 3em 2em;">
					<div class="row">
						<div>
							<div class="sap_tabs">
								<div id="horizontalTabPersonal" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li id="tabPersonal" class="resp-tab-item" aria-controls="tab_item-0" ng-click="resetUpdateForm()"><span>Dados Pessoais</span></li>
										<li id="tabAddress" class="resp-tab-item" aria-controls="tab_item-1" ng-click="resetAddressForm()"><span>Endereço</span></li>
										<li id="tabPassword" class="resp-tab-item" aria-controls="tab_item-2" ng-click="resetPasswordForm()"><span>Senha</span></li>
									</ul>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form id="updateForm" name="updateForm" novalidate role="form" ng-submit="updateForm.$valid && update()">
													<fieldset>
														<div class="form-group">
															<input placeholder="Nome" name="nome" type="text" required ng-model="$parent.currentUser.nome" ng-class="{'has-error': updateForm.$submitted && updateForm.nome.$error.required}">
															<span class="invalid" ng-if="updateForm.$submitted && updateForm.nome.$invalid">Nome inválido.</span>
														</div>
														<div class="form-group">
															<input name="email" placeholder="Email" type="email" disabled ng-model="$parent.currentUser.email">
														</div>
														<div class="form-group">
															<input placeholder="Telefone" ng-model="$parent.currentUser.telefone" type="tel" class="input-medium bfh-phone" data-format="dd-dddd-dddd">
														</div>
														<div id="gender-group" class="form-group">
															<label style="float: left; font-weight: normal; margin: 3px;">Sexo:</label>
															<div class="col-sm-7 col-md-6" style="width: 43%;">
																<div class="input-group" style="margin-bottom: 0px">
																	<div id="radioBtnGender" class="btn-group">
																		<a id="radioMale" class="btn btn-primary btn-sm notActive" data-toggle="gender" data-title="MALE">Masculino</a>
																		<a id="radioFemale" class="btn btn-primary btn-sm notActive" data-toggle="gender" data-title="FEMALE">Feminino</a>
																	</div>
																	<input type="hidden" name="gender" id="gender" ng-model="$parent.currentUser.sexo" ng-value="{{this.value}}">
																</div>
															</div>
														</div>
														<div id="birthday-group" class="form-group">
															<div class="input-group date input-group-sm" style="margin-bottom: 0px; padding-left: 15px;">
																<input placeholder="Data Nascimento" type="text" id="datepicker" class="form-control hasDatepicker" />
																<label class="input-group-addon" for="datepicker">
																	<i class="glyphicon glyphicon-th"></i>
																</label>
															</div>
														</div>
														<div id="alert-group" class="form-group" ng-if="message.type && updateForm.$submitted && updateForm.$valid && !showLoading">
															<div class="alert alert-{{message.type}}" role="alert">
																<strong ng-if="message.title">{{message.title}} </strong>{{message.body}}
															</div>
														</div>
														<div class="sign-up form-group">
															<input id="btnUpdateUser" type="submit" value="Salvar" />
															<!-- Loading -->
															<div class="spinnerr" data-spinner data-ng-if="showLoading" />
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form id="addressForm" name="addressForm" novalidate role="form" ng-submit="addressForm.$valid && saveAddress()">
													<fieldset>
														<!-- <div class="form-group">
															<input placeholder="Descrição (Residencial, Comercial...)" name="descricao" type="text" required ng-model="address.descricao" ng-class="{'has-error': addressForm.$submitted && addressForm.descricao.$error.required}">
															<span class="invalid" ng-if="addressForm.$submitted && addressForm.descricao.$invalid">Descrição inválida.</span>
														</div> -->
														<div class="form-group">
															<input placeholder="CEP" id="cep" name="cep" type="text" required class="cep" maxlength="9" ng-model="address.cep" ng-class="{'has-error': addressForm.$submitted && addressForm.cep.$invalid}">
															<span class="invalid" ng-if="addressForm.$submitted && addressForm.cep.$invalid">CEP inválido.</span>
														</div>
														<div class="form-group">
															<input placeholder="Endereço" id="endereco" name="endereco" type="text" disabled ng-model="address.endereco">
														</div>
														<div class="form-group">
															<div class="form-group" style="width: 40%;float: left;padding-right: 5px;">
																<input placeholder="Número" id="numeroEndereco" name="numeroEndereco" type="text" required class="integer" ng-model="address.numero" ng-class="{'has-error': addressForm.$submitted && addressForm.numeroEndereco.$error.required}">
																<span class="invalid" ng-if="addressForm.$submitted && addressForm.numeroEndereco.$invalid">Número inválido.</span>
															</div>
															<input placeholder="Complemento" name="complemento" type="text" style="width: 60%" ng-model="address.complemento">
														</div>
														<div class="form-group">
															<input placeholder="Bairro" id="bairro" name="bairro" type="text" disabled ng-model="address.bairro">
														</div>
														<div class="form-group">
															<input placeholder="Cidade" id="cidade" name="cidade" type="text" disabled style="width: 80%" ng-model="address.cidade">
															<input placeholder="Estado" id="estado" name="estado" type="text" disabled style="width: 19%" ng-model="address.estado">
														</div>
														<div id="alert-group" class="form-group" ng-if="cepError">
															<div class="alert alert-{{message.type}}" role="alert">
																<strong ng-if="message.title">{{message.title}} </strong>{{message.body}}
															</div>
														</div>
														<div class="sign-up form-group">
															<input type="submit" value="Salvar" />
															<!-- Loading -->
															<div class="spinnerr" data-spinner data-ng-if="showLoading" />
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-3 resp-tab-content" aria-labelledby="tab_item-2">
										<div class="facts">
											<div class="register">
												<form id="passwordForm" name="passwordForm" novalidate role="form" ng-submit="passwordForm.$valid && updatePassword()">
													<fieldset>
														<div class="form-group">
															<input placeholder="Senha" name="password" type="password" required ng-model="$parent.currentUser.senha" ng-class="{'has-error': passwordForm.$submitted && passwordForm.password.$error.required}">
															<span class="invalid" ng-if="passwordForm.$submitted && passwordForm.password.$invalid">Senha inválida.</span>
														</div>
														<div class="form-group">
															<input placeholder="Confirmar Senha" name="passwordConfirm" type="password" required compare-to="$parent.currentUser.senha" ng-model="$parent.currentUser.senhaConfirm" ng-class="{'has-error': passwordForm.$submitted && passwordForm.passwordConfirm.$invalid}">
															<span class="invalid" ng-if="passwordForm.$submitted && passwordForm.passwordConfirm.$invalid">Senhas não conferem.</span>
														</div>
														<div id="alert-group" class="form-group" ng-if="message.type && passwordForm.$submitted && passwordForm.$valid && !showLoading">
															<div class="alert alert-{{message.type}}" role="alert">
																<strong ng-if="message.title">{{message.title}} </strong>{{message.body}}
															</div>
														</div>
														<div class="sign-up form-group">
															<input type="submit" value="Alterar senha" />
															<!-- Loading -->
															<div class="spinnerr" data-spinner data-ng-if="showLoading" />
														</div>
													</fieldset>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script src="assets/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
							<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
							<script src="assets/js/bootstrap-datepicker.pt-BR.min.js" type="text/javascript"></script>
							<script src="assets/js/jquery.numeric.min.js" type="text/javascript"></script>
							<script src="assets/js/jquery.mask-1.14.10.min.js" type="text/javascript"></script>
							<script src="assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script	src="components/validator/compare-to-validator.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									var cepOptions =  {
										onComplete: function(cep) {
											//alert('CEP Completed!:' + cep);
											// TODO buscar o endereço de acordo com o CEP digitado
										}
									};
									$('.cep').mask('00000-000', cepOptions);
									$('.integer').numeric(false, function() {
										//alert("Integers only");
										this.value = "";
										this.focus();
									});
									$('#horizontalTabPersonal').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		//$('#modal-login').modal('hide'); // show/hide
	</script>
	<div class="header">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#modal-login">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</a>
				<a href="#" data-toggle="modal" data-target="#modal-login" class="nick">
					<h5 ng-if="!$parent.currentUser && $parent.welcomeTokenValidated" style="width: 240px; text-align: left; padding-top: 10px;">Obrigado por validar o cadastro, favor efetuar o login</h5>
					<h5 ng-if="!$parent.welcomeTokenValidated">{{$parent.currentUser ? "Olá, " + $parent.currentUser.nome : "Entre"}}</h5>
				</a>
			</div>
			<div class="w3l_logo">
				<a href="#/" ng-click="switchView(viewsEnum.HOME)">
					<img src="assets/images/logo/logo1.jpg" alt=" " class="img-responsive" width="120px" height="93px" />
				</a>
			</div>
			<div class="search">
				<!-- <input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Procurar...">
						<input type="submit" value="Buscar">
					</form>
				</div> -->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- menu -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active" ng-class="{'first-child-logged': $parent.currentUser}"><a href="#/" class="act" ng-click="switchView(viewsEnum.HOME)">Home</a></li>
						<li><a href="#/products" ng-click="switchView(viewsEnum.PRODUCTS)">Produtos</a></li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Empresa<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-1">
								<div class="row">
									<div class="col-sm-12">
										<ul class="multi-column-dropdown">
											<h6>Vitrine de Cristal</h6>
											<li><a href="#/about" ng-click="switchView(viewsEnum.ABOUT)">Sobre</a></li>
											<li><a href="#/guideline" ng-click="switchView(viewsEnum.GUIDELINE)">Diretrizes</a></li>
											<li><a href="#/contact" ng-click="switchView(viewsEnum.CONTACT)">Contato</a></li>
											<li><a href="#/faq" ng-click="switchView(viewsEnum.FAQ)">Perguntas Frequentes</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<!-- Mega Menu -->
						<li class="dropdown" ng-if="$parent.currentUser">
							<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Minha Conta<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Compras</h6>
											<li><a href="#/order_list" ng-click="switchView(viewsEnum.ORDER_LIST)">Meus Pedidos</a></li>
											<li><a href="#/favorites" ng-click="switchView(viewsEnum.FAVORITES)">Favoritos</a></li>
											<!-- <li><a href="#/questions" ng-click="switchView(viewsEnum.QUESTIONS)">Perguntas</a></li> -->
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Vendas</h6>
											<li><a href="#/ads" ng-click="switchView(viewsEnum.ADS)">Meus Anúncios</a></li>
											<li><a href="#/negotiations" ng-click="switchView(viewsEnum.NEGOTIATIONS)">Minhas Negociações</a></li>
											<!-- <li><a href="#/messages" ng-click="switchView(viewsEnum.QUESTIONS)">Chat/Mensagens</a></li> -->
											<li><a href="#/register_product" ng-click="switchView(viewsEnum.REGISTER_PRODUCT)"><i>Novo Produto</i></a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="#" data-toggle="modal" data-target="#modal-personal"><i>Dados Pessoais</i></a></li>
											<li><a href="javascript: void(0);" data-ng-href="./logout"><i>SAIR</i></a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //menu -->
</div>