<div data-ng-controller="showcaseHeaderController">
	<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
		<div class="modal-dialog modal-lg" style="width: 500px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Não deixe pra depois, acesse já!
					</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div >
							<div class="sap_tabs">	
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>Login</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>Cadastre-se</span></li>
									</ul>		
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">
													<input name="Email" placeholder="Email" type="text" required="">
													<input name="Password" placeholder="Senha" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="Acessar"/>
													</div>
												</form>
											</div>
										</div>
									</div>	
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">
													<input placeholder="Nome" name="Name" type="text" required="">
													<input placeholder="Email" name="Email" type="email" required="">
													<input placeholder="Senha" name="Password" type="password" required="">
													<input placeholder="Confirmar Senha" name="Password" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="Criar conta"/>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script src="assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#modal-login').modal('hide'); // show/hide
	</script>
	<div class="header">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#modal-login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<a href="#/" ng-click="switchView(viewsEnum.HOME)">
					<img src="assets/images/logo/logo1.jpg" alt=" " class="img-responsive" width="120px" height="93px" />
				</a>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Procurar...">
						<input type="submit" value="Buscar">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- menu -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#/" class="act" ng-click="switchView(viewsEnum.HOME)">Home</a></li>
						<li><a href="#/products" ng-click="switchView(viewsEnum.PRODUCTS)">Produtos/Buscar</a></li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Empresa<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-1">
								<div class="row">
									<div class="col-sm-12">
										<ul class="multi-column-dropdown">
											<h6>Vitrine de Cristal</h6>
											<li><a href="#/about" ng-click="switchView(viewsEnum.ABOUT)">Sobre</a></li>
											<li><a href="#/guideline" ng-click="switchView(viewsEnum.GUIDELINE)">Diretrizes</a></li>
											<li><a href="#/contact" ng-click="switchView(viewsEnum.CONTACT)">Contato</a></li>
											<li><a href="#/faq" ng-click="switchView(viewsEnum.FAQ)">Perguntas Frequentes</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Minha Conta<b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Compras</h6>
											<li><a href="#/order_list" ng-click="switchView(viewsEnum.ORDER_LIST)">Meus Pedidos</a></li>
											<li><a href="#/wish_list" ng-click="switchView(viewsEnum.WISH_LIST)">Favoritos</a></li>
											<li><a href="#/questions" ng-click="switchView(viewsEnum.QUESTIONS)">Perguntas</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<h6>Vendas</h6>
											<li><a href="#/ads" ng-click="switchView(viewsEnum.ADS)">Meus Anúncios</a></li>
											<li><a href="#/negotiations" ng-click="switchView(viewsEnum.NEGOTIATIOS)">Minhas Negociações</a></li>
											<li><a href="#/messages" ng-click="switchView(viewsEnum.QUESTIONS)">Chat/Mensagens</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="#/account" ng-click="switchView(viewsEnum.ACCOUNT)"><i>Dados Pessoais</i></a></li>
											<li><a href="#/exit" ng-click="switchView(viewsEnum.EXIT)"><i>SAIR</i></a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //menu -->
</div>